<div id="<%= dom_id friend %>">
  <div class="jumbotron jumbo-tron">
    <div class="jumbo-data">
        <h1 class="display-4">
          <%= friend.first_name %>
          <%= friend.last_name %>
          
        </h1>
        <p class="lead">
          <%= friend.email %> |
          <%= friend.phone %> |
          <%= friend.twitter %> |
          <%= friend.instagram %>
        </p>
        <br>
        <p class="lead">
      <div>
        <%= link_to "Edit", edit_friend_path(@friend),class:"btn btn-primary" %> 
        <%= link_to "Back", friends_path,class:"btn btn-primary" %>
      </div>  </p>
    </div>
    <div class="jumbo-image ">
      <% if @friend.profile_image.attached? %>
          <%= image_tag friend.profile_image, class:"image" %>
      <% end %>
    </div>
  </div>
</div>
  