    <%= stylesheet_link_tag "custom", "sdata-turbo-track": "reload" %>


<body class="index-page">
<% if user_signed_in? %>

  <h1>Friends List</h1>
  <div class="table-responsive ">  
    <table class="table table-bordered  table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email </th>
          <th>Phone number</th>
          <th>Twitter</th>
          <th>Instagram</th>
          <th colspan="1"></th>
        </tr>
      </thead>      
      <tbody>
        <% @friends.each do |friend|  %>
          <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + ' '+ friend.last_name, friend %>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= friend.instagram %></td>
            <td><%= link_to 'destroy', friend_path(friend),
             data: {turbo_method: :delete, turbo_confirm: :"Are You Sure?"} ,class:"btn btn-outline-danger btn-sm"%></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
    <h1>Hello world</h1>
<% end %>
 </body>