    <%= stylesheet_link_tag "custom", "sdata-turbo-track": "reload" %>


<h class="head-title">About Us.....
</h>

<div class="container parent">
  <div class="row" style="max-width: 20rem;">
    <div class="row   m-2">
      <div class="card m-2 child1">
      	<%= image_tag "back.jpg", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
   
      <div class="card m-2 child1">
      	<%= image_tag "back.jpg", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

      <div class="card m-2 child1">
      	<%= image_tag "back.jpg", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

      <div class="card m-2 child1">
      	<%= image_tag "back.jpg", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 